.container{
  background-color: lightgray;
  padding: 2px;
  margin-bottom: 1px;
  border: 1px;
  }
.imag{
  margin-left: 900px;
  width: 300px;
  height: 350px;
  margin-bottom: 100px;
}
.imag:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.h1{
  text-align: center;
}
